{% load static %}
<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
</head>
<body>
    <div class="login-container">
    <h2>Iniciar Sesión</h2>

    {% if messages %}
        {% for message in messages %}
            <div style="color:red; font-weight:bold; text-align:center; margin-bottom:10px;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="input-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div style="color:red;">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit">Entrar</button>

            <div class="forgot-password">
                <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a> 
                <a href="{% url 'register' %}">Registrarme</a>
            </div>
    </form>
</div>
</body>
</html>